/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono";
  --bc-color: #000028;
  --decor-title-color: #000028;
  --article-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-item-border-color: #ff0070;
  --header-title-color: #fe42fe;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --button-focus-border-color: #ff0070;
  --button-active-border-color: #ff0070;
  --text-article-link-shadow-color: #ff0070;
  --text-article-link-focus-color: #f1b2ce;
  --text-article-link-hover-color: #f1b2ce;
}
